# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
VM/img
# Other files and folders
.settings/
gnu-efi/*
# Executables
*.swf
*.air
*.ipa
*.apk
*.o
local/*
.vscode/*
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
